@import "tailwindcss";
@plugin "daisyui";

a.active {
    border-bottom: 4px solid red;
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #fff;
    animation: typing 3s steps(30), blink .7s infinite step-end alternate;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}